.advantage {
  .mobile-center ();
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.advantage__title {
  .reset-indent-text ();
  margin-bottom: 57px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-right: 68px;
  font-size: 25px;
  line-height: 30px;
}

.advantage__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .reset-styles();
}

.advantage__item {
  position: relative;
  margin-bottom: 57px;
  line-height: 20px;
  padding-right: 60px;
  padding-bottom: 26px;

  &--flower,
  &--heart {
    padding-right: 65px;
  }

  &--ball {
    padding-right: 50px;
  }

  &--rocket {
    padding-right: 5px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    top: -55px;
    left: -4px;
    content: "";
    display: block;
    width: 55px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--flower::before {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--money::before {
    top: -59px;
    background-image: url("../img/icon-feature-money.svg");
  }

  &--heart::before {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--ball::before {
    left: -8px;
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--rocket::before {
    top: -57px;
    left: -8px;
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift::before {
    left: -8px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: @tablet-width) {
  .advantage {
    .form-filter-tablet ();
    margin-bottom: 25px;
  }

  .advantage__title {
    margin-bottom: 73px;
    padding-top: 51px;
    font-size: 43px;
    line-height: 50px;
  }

  .advantage__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantage__item {
    width: 334px;
    padding-bottom: 55px;
    font-size: 20px;
    line-height: 22px;

    &--flower {
      padding-right: 120px;
      order: 1;
    }

    &--money {
      padding-right: 90px;
      order: 3;
    }

    &--heart {
      margin-bottom: 0;
      padding-right: 110px;
      order: 5;
    }

    &--ball {
      order: 2;
    }

    &--rocket {
      order: 4;
    }

    &--gift {
      order: 6;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantage {
    width: 700px;
    margin-bottom: 32px;
    padding: 0;
  }

  .advantage__title {
    padding-top: 58px;
    padding-bottom: 32px;
    font-size: 53px;
    line-height: 57px;
  }

  .advantage__item {
    width: 350px;
  }
}
