.catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .mobile-center ();
  padding-left: 30px;
  padding-right: 30px;
}

.catalog__product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 28px;
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog__link-img {
  display: block;
  height: 195px;
  .reset-indent-text ();
  line-height: 0;
  text-align: center;
  background-color: #efefef;
  overflow: hidden;
  cursor: pointer;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 27px;
  padding-right: 25px;
  background-color: @white;
}

.catalog__box {
  padding-top: 27px;
}

.catalog__product-name {
  display: block;
  .reset-indent-text ();
  margin-bottom: 5px;
  font: inherit;
  color: @black;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__description {
  .reset-indent-text ();
  margin-bottom: 19px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: @gray;
}

.catalog__cost {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  width: auto;
  .reset-indent-text ();
  padding-bottom: 27px;
  padding-top: 21px;
  font-size: 15px;
  font-weight: 700;
  border-top: 1px solid #ececec;
}

.catalog__buy {
  display: block;
  width: 100px;
}

.catalog__cost-btn {
  width: 100px;
  text-align: right;
}

.catalog__cost-button {
  .reset-indent-text ();
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.catalog__cost-icon {
  width: 21px;
  height: 18px;
  fill: rgba(0, 0, 0, 0.2);

  &:hover,
  &:focus {
    fill: @lightgreen;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: @tablet-width) {
  .catalog {
    .form-filter-tablet ();
  }

  .catalog__product {
    flex-direction: row;
    margin-bottom: 51px;
  }

  .catalog__link-img {
    width: 334px;
    height: 334px;
  }

  .catalog__wrapper {
    width: 332px;
    min-height: 334px;
  }

  .catalog__box {
    margin-bottom: 130px;
  }

  .catalog__product-name {
    width: 230px;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__description {
    font-size: 15px;
    line-height: 30px;
  }

  .catalog__cost {
    width: 280px;
    font-size: 17px;
  }

  .catalog__cost-button {
    width: 30px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    flex-direction: row;
    justify-content: space-between;
    width: 1150px;
    padding: 0 50px;
  }

  .catalog__wrapper {
    width: 100%;
    min-height: 197px;
  }

  .catalog__box {
    margin-bottom: 0;
  }

  .catalog__product {
    flex-direction: column;
    width: 316px;
  }

  .catalog__link-img {
    width: auto;
    height: 462px;
  }

  .catalog__cost {
    width: 100%;
  }

  .catalog__product:last-child .catalog__description {
    margin-bottom: 11px;
  }
}
