.contacts__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}

.contacts__items {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: @gray;
}

.contacts__item {
  margin: 0;
  padding: 0;
}

.contacts__mail-address {
  color: @gray;
}

.contacts__mail-address:hover,
.contacts__mail-address:focus {
  color: #46c1ae;
}

.contacts__mail-address:active {
  color: rgba(70, 193, 174, 0.3);
}
