.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 184px;
  .reset-indent-text ();
  padding-bottom: 23px;
  font-size: 19px;
  line-height: 18px;

  &:hover svg,
  &:focus svg {
    path {
      fill: #46c1ae;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  display: block;
  color: @black;

  svg {
    width: 27px;
    height: 34px;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 182px;
    padding: 0;
  }
}
