.goods-week {
  position: relative;
  .mobile-center ();
  margin-bottom: 170px;

  &::after {
    position: absolute;
    bottom: -168px;
    content: "";
    width: 320px;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-position: 50%;
    background-size: contain;
  }
}

.goods-week__center {
  position: relative;
  .mobile-padding ();
}

.goods-week__header {
  display: flex;
  flex-direction: column;
  min-height: 82px;
}

.goods-week__title {
  .reset-indent-text ();
  margin-bottom: 5px;
  padding-top: 25px;
  font-size: 25px;
  line-height: 30px;
}

.goods-week__subtitle {
  display: block;
  .reset-indent-text ();
  margin-bottom: 23px;
  padding-right: 120px;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @lightgreen;
}

.goods-week__wrap {
  position: relative;
}

.goods-week__text {
  position: relative;
  .reset-indent-text ();
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 400;
  color: @gray;
}

.goods-week__table {
  .reset-styles();
}

.goods-week__box {
  position: absolute;
  margin: 0 auto;
  bottom: -126px;
  text-align: center;
}

.goods-week__cost {
  display: block;
  .reset-indent-text ();
  margin: 0;
  margin-bottom: 24px;
  padding-left: 70px;
  padding-right: 70px;
  color: @gray;
}

.goods-week__image {
  position: relative;
  width: 260px;
  height: 315px;
  margin: 0 auto;
  margin-bottom: 12px;
  padding: 0;
  background-color: #f1f1f1;
}

.goods-week__img {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .goods-week {
    width: 768px;
    margin-bottom: 68px;

    &::before {
      position: absolute;
      top: -11px;
      content: "";
      width: 768px;
      height: 22px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      background-position-x: center;
    }

    &::after {
      bottom: -70px;
      width: 768px;
      height: 15px;
      background-position: 27px;
    }
  }

  .goods-week__center {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .goods-week__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 52px;
    margin-bottom: 42px;
    padding-top: 46px;
  }

  .goods-week__title {
    width: 501px;
    padding-top: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .goods-week__subtitle {
    width: 167px;
    margin-bottom: 0;
    padding-left: 67px;
    padding-right: 27px;
    text-align: center;
    line-height: 17px;
  }

  .goods-week__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .goods-week__wrap {
    width: 334px;
    min-height: 260px;
    margin: 0;
    margin-bottom: 27px;
  }

  .goods-week__text {
    margin-bottom: 45px;
    padding-right: 50px;
    font-size: inherit;
    line-height: 30px;
  }

  .goods-week__image {
    width: 334px;
    height: 404px;
    margin: 0;
    margin-top: 8px;
  }

  .goods-week__box {
    bottom: 0;
    left: 48px;
  }

  .goods-week__cost {
    margin-bottom: 34px;
    font-size: 20px;
  }

  .goods-week__btn {
    width: 292px;
  }
}

@media (min-width: @desktop-width) {
  .goods-week {
    width: 1150px;
    margin-bottom: 94px;

    &::before {
      top: -17px;
      width: 1150px;
      height: 37px;
      background-position: 18px;
      background-size: 109%;
    }

    &::after {
      bottom: -89px;
      left: 50px;
      width: 1052px;
      height: 21px;
    }
  }

  .goods-week__center {
    width: 100%;
    padding: 0;
    padding-top: 65px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .goods-week__header {
    width: 700px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    .reset-indent-text ();
    padding-top: 60px;
  }

  .goods-week__title {
    width: 530px;
    font-size: 53px;
    line-height: 57px;
  }

  .goods-week__subtitle {
    padding-left: 24px;
  }

  .goods-week__wrapper {
    margin-left: 174px;
    margin-top: -122px;
    z-index: -1;
  }

  .goods-week__wrap {
    margin-top: 163px;
  }

  .goods-week__text {
    margin-bottom: 57px;
  }

  .goods-week__image {
    width: 525px;
    height: 636px;
  }

  .goods-week__box {
    left: 225px;
  }
}
