.order-form {
  width: 100%;
  margin: 0 auto;
}

.order-form__text {
  .reset-indent-text ();
  width: 320px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-left: 30px;
  padding-top: 21px;
  padding-right: 30px;
  font-size: 13px;
  font-weight: 400;
  color: @gray;
}

.order-form__required {
  display: block;
  .reset-indent-text ();
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: @gray;
}

.order-form__required-box {
  display: flex;
  flex-direction: column;
  .mobile-center ();
  width: 320px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.order-form__bottom {
  margin-bottom: 52px;
}

@media (min-width: @tablet-width) {
  .order-form__text {
    .form-filter-tablet ();
    margin-bottom: 7px;
    padding-top: 74px;
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__required-box {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    .form-filter-tablet ();
  }

  .order-form__required {
    width: 334px;
    padding-left: 32px;
    font-size: 17px;
    line-height: 30px;
    order: 2;
  }

  .order-form__bottom {
    width: 334px;
    margin-left: 0;
    order: 1;
  }

  .order-form__btn {
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .order-form__required-box {
    width: 700px;
    padding-left: 0;
    padding-right: 0;
  }

  .order-form__required,
  .order-form__bottom {
    width: 350px;
  }

  .order-form__bottom {
    margin-bottom: 47px;
  }

  .order-form__required {
    padding-left: 48px;
  }

  .order-form__text {
    width: 1150px;
    padding-left: 225px;
    padding-top: 121px;
    padding-right: 225px;
  }
}
