.order-form__text {
  font-size: 13px;
  font-weight: 400;
  color: @gray;
}

.order-form__required {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: @gray;
}

.order-form__btn {
  line-height: 16px;
}
