.page-footer {
  background-color: #f1f1f1;
}

.page-footer__logo-icon {
  display: block;
}

.page-footer__social {
  text-align: center;
}

.page-footer__list {
  .reset-styles();
}

.page-footer__copyright {
  text-align: center;
}
