.page-main {
  width: 100%;
  margin: 0 auto;
}

.page-main__title {
  width: 320px;
  margin: 0 auto;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 70px;
  padding-bottom: 121px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  color: #010000;

  &--form,
  &--catalog {
    width: 100%;
    padding-bottom: 77px;
    background-color: #f1f1f1;
  }

  &--form {
    color: #231f20;
  }

  &--catalog {
    margin-bottom: 30px;
    color: @black;
  }
}

@media (min-width: @tablet-width) {
  .page-main {
    margin-top: -60px;
  }

  .page-main__title {
    width: 768px;
    padding-left: 134px;
    padding-right: 134px;
    padding-top: 153px;
    padding-bottom: 376px;
    font-size: 43px;
    line-height: 50px;

    &--form,
    &--catalog {
      width: 100%;
      padding-top: 94px;
      padding-bottom: 80px;
    }

    &--catalog {
      margin-bottom: 81px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main__title {
    width: 1150px;
    padding-bottom: 362px;
    font-size: 53px;
    line-height: 57px;
    border-top: 1px solid #e7e7e7;

    &--form,
    &--catalog {
      width: 100%;
      padding-bottom: 103px;
    }

    &--catalog {
      margin-bottom: 128px;
    }
  }
}
