.site-list__item {
  border-top: 1px solid #ececec;

  &--new,
  &--sale {
    display: none;
  }
}

.site-list__link {
  position: relative;
  display: block;
  padding: 27px 30px 27px 75px;
  color: @black;

  &--delivery {
    color: @gray;
  }
}

.site-list__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 30px;
  top: 30px;
  fill: rgba(0, 0, 0, 0.2);

  &--basket {
    width: 21px;
  }
}

.site-list__link[href]:hover {
  color: rgba(0, 0, 0, 0.6);

  .site-list__icon {
    fill: @lightgreen;
  }
}

.site-list__link[href]:focus {
  color: rgba(0, 0, 0, 0.6);

  .site-list__icon {
    fill: @lightgreen;
  }
}

.site-list__link[href]:active {
  color: rgba(0, 0, 0, 0.3);

  .site-list__icon {
    fill: rgba(99, 209, 187, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;

    &--menu {
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }

  .site-list__item {
    border: none;
  }

  .site-list--user .site-list__link {
    padding-left: 82px;
    padding-bottom: 32px;
    padding-top: 32px;
    padding-right: 0;

    &--search {
      padding-bottom: 27px;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }
  }

  .site-list__hidden-text {
    font-size: 0;
  }

  .site-list__link {
    &--delivery {
      padding-right: 0;
      padding-left: 20px;
      padding-top: 20px;
    }
  }

  .site-list--menu .site-list__link {
    padding-right: 33px;
    padding-left: 0;
    padding-top: 20px;
    font-size: 15px;
  }

  .site-list__icon {
    left: 34px;
    top: 36px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    &--new,
    &--sale {
      display: block;
    }
  }

  .site-list--menu .site-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 17px;
  }

  .site-list--menu .site-list__item:first-child {
    margin-right: 35px;
    border-right: 1px solid #ececec;
  }

  .site-list__item--new .site-list__link,
  .site-list__item--sale .site-list__link {
    margin-right: 27px;
    padding-top: 20px;
    font-size: 15px;
  }

  .site-list--user {
    justify-content: flex-end;
  }
}
