.video {
  .mobile-center ();
  margin-bottom: 58px;
  padding-left: 30px;
  padding-right: 30px;
}

.video__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  border: 1px solid #ededed;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.video__title {
  position: relative;
  margin-top: 28px;
  margin-bottom: 23px;
  margin-left: 89px;
  margin-right: 38px;
  padding: 0;
  font-size: inherit;

  &::before {
    position: absolute;
    content: "";
    left: -55px;
    top: 50%;
    width: 32px;
    height: 22px;
    margin-top: -16px;
    background-image: url("../img/video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.video__block {
  position: relative;
  display: block;
  width: 260px;
  height: 150px;
  margin-bottom: 27px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  width: 101px;
  height: 77px;
  margin-top: -39px;
  margin-left: -51px;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

video {
  display: none;
}

.video__text {
  .reset-indent-text ();
  margin-bottom: 25px;
  padding-left: 32px;
  padding-right: 40px;
  font-size: 13px;
  font-weight: 400;
  color: @gray;
}

.video__button {
  width: 190px;
  margin-left: 34px;
  margin-right: 30px;
  margin-bottom: 32px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .video {
    .form-filter-tablet ();
    margin-bottom: 62px;
  }

  .video__wrapper {
    width: 100%;
  }

  .video__title {
    margin-bottom: 32px;
    margin-left: 106px;
    font-size: 20px;
    order: 2;

    &::before {
      left: -64px;
    }
  }

  .video__block {
    width: 668px;
    height: 455px;
    margin-bottom: 10px;
    background-image: url("../img/video-tablet@1x.jpg");
    order: 1;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .video__text {
    margin-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 15px;
    line-height: 30px;
    order: 3;
  }

  .video__button {
    width: 582px;
    margin: 0 auto;
    margin-bottom: 44px;
    order: 4;
  }
}

@media (min-width: @desktop-width) {
  .video {
    width: 1150px;
    margin-bottom: 105px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .video__wrapper {
    flex-direction: row;
    margin-right: 0;
    border-left: none;
  }

  .video__block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 682px;
    height: 455px;
    margin-bottom: 0;
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .video__title {
    margin-left: 760px;
    margin-top: 97px;
    margin-right: 60px;

    &::before {
      left: 2px;
      top: -33px;
    }
  }

  .video__text {
    margin-left: 759px;
    margin-bottom: 47px;
    margin-right: 60px;
    padding-left: 0;
    padding-right: 0;
  }

  .video__button {
    width: 230px;
    margin-left: 760px;
    margin-bottom: 59px;
  }
}
