.video {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 54px;
  padding-left: 30px;
  padding-right: 30px;
  height: 505px;
  border: 1px solid blue;
}

.video__title {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.video__block {
  display: block;
  background-color: #f1f1f1;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.video__text {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  color: @gray;
}

.video__btn {
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .video {
    .form-filter-tablet ();
    margin-bottom: 64px;
    height: 745px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    width: 1150px;
    margin-bottom: 96px;
    height: 455px;
  }
}
